/* General Styles */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-primary: #e20059;
  --color-secondary: #9dbc29;
  --yellow-variant: #ffb454;
  --gray-variant: #999;
  --gray-darker: #3f3f3f;
  --color-white: #fff;
  --transition: all 400ms ease;

  --container-width-lg: 95%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
}

.container-lgs {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

/* Custom Styles */

.sign-in-card {
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.06);
  padding: 45px;
  border-radius: 10px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form label {
  color: var(--gray-variant);
}

.excerpt h6 {
  color: #3f3f3f;
}

a {
  color: var(--color-secondary);
  text-decoration: none;
}

.main-btn {
  background-color: var(--color-primary);
  border: none;
  width: 100%;
}

.nav-bar,
.property-card {
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.06);
}

.nav-login-btn {
  border-color: var(--yellow-variant);
  padding: 6px 30px;
}

.nav-signup-btn {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: 0;
  padding: 6px 30px;
}

.home-container {
  height: 100vh;
  max-width: 90%;
}

.property-card,
.property-card img {
  border-radius: 0;
  border: 0;
  height: 200px;
  object-fit: cover;
}

.card-amount h6 {
  color: var(--color-primary);
  text-decoration: underline;
}

.card-county {
  color: var(--gray-darker);
  width: 209px;
  line-height: 28px;
}

.card-location,
.card-room p,
.card-bath p {
  color: var(--gray-variant);
  font-size: 12px;
}

.card-location p {
  margin-bottom: 0;
}

.card-hr {
  color: var(--gray-variant);
  margin-top: 0;
}

.custom-card-footer {
  padding: 0 1rem;
}

.card-room,
.card-bath {
  color: var(--color-primary);
}

.realtor-width {
  width: 70%;
}

form.search label {
  color: var(--yellow-variant);
}

.search-input {
  border: 0;
  padding-left: 0;
}

.search-form {
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.06);
  padding: 15px;
}

.border-custom {
  border-right: 1px solid var(--gray-variant);
  /*   height: 46px;
  align-content: center;
  display: inline-grid; */
}

.search-btn {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.property-title h3,
.property-description h4 {
  color: var(--gray-darker);
  font-weight: 600;
}

.property-description p {
  color: var(--gray-variant);
}

.property-location p {
  color: var(--gray-variant);
}

.tour-card {
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.06);
  padding: 35px;
}

.tour-card p {
  margin-bottom: 0;
}

.tour-card h5 {
  color: var(--color-primary);
}

.tour-card span {
  color: var(--gray-variant);
}

.guard h6,
.dashboard h5,
h6 {
  color: var(--gray-darker);
}

.dashboard h3 {
  color: var(--color-primary);
}

.stats-cards {
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.06);
  border: 1px solid var(--gray-darker);
  padding: 15px;
}

.custom-table tbody tr {
  cursor: pointer;
}

.custom-table tbody tr:hover {
  color: var(--color-white);
  background: var(--color-primary);
}

.properties-add {
  background: var(--color-primary);
  color: var(--color-white);
  border-radius: 50%;
}

#modal-heading {
  color: var(--gray-darker);
}

.custom-submit-btn {
  background-color: var(--color-primary);
  border: 0;
}

.custom-close-btn {
  background-color: var(--gray-darker);
  border: 0;
}

.custom-hr {
  color: var(--gray-variant);
}
